<header class="header">
    <nav class="navbar navbar-expand-md navbar-dark primary-background">
        <div class="navbar-brand pacifico-regular" [routerLink]="['home/' , getUsername()]">Yfitops</div>

        <ul class="navbar-nav">
            <li *ngIf="isUserLoggedIn()" class="nav-link" [routerLink]="['home/' , getUsername()]">Home</li>
            <li *ngIf="isUserLoggedIn()" class="nav-link" routerLink="/leaderboard">Leaderboard</li>
            <li *ngIf="isUserLoggedIn()" class="nav-link" routerLink="/settings">Settings</li>
            <li *ngIf="isUserLoggedIn()" class="nav-link" routerLink="/history">History</li>
            <li class="nav-link">## Note: Enter test as a username and it will pass ##</li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li *ngIf="!isUserLoggedIn()" class="nav-link m-1 p-1" routerLink="/login">Login</li>
            <li *ngIf="isUserLoggedIn()" routerLink="" (click)="logout()" class="nav-link m-1 p-1">Logout</li>
        </ul>

    </nav>
</header>
