<div class=" game-page-container">

    <app-searcher *ngIf="!isReadyToTest"
            (albumSelected)="receiveAlbum($event)"
            (tracksSelected)="receiveTracks($event)"
            (searchFinished)="searchFinished($event)"
    ></app-searcher>

    <ng-container *ngIf="isReadyToTest && !isFinished">
        <app-game-page-test
        [album]="album"
        [questions]="questions"
        [preview]="preview"
        [currentQuestion]="currentQuestion"

        (isFinished)="receivesIsFinished($event)"
        >
        </app-game-page-test>
    </ng-container>

    <ng-container *ngIf="isFinished">
        <h1 class="p-4 pacifico-regular">Game Over! Thanks for playing!</h1>
        <h2 class="p-4 pacifico-regular">Your score is: {{correct}}/{{questionNumber}}</h2>
        <button  class="btn btn-success m-5" (click)="save()">Save your results?</button>
    </ng-container>

</div>
