<div class="settings-container">
  <h2>Settings</h2>
  <div class="setting">
    <label for="difficulty">Difficulty Level:</label>
    <select id="difficulty" name="difficulty">
      <option value="Easy">Easy</option>
      <option value="Medium">Medium</option>
      <option value="Hard">Hard</option>
    </select>
  </div>
  <div class="setting">
    <label for="time-limit">Time Limit (in Seconds):</label>
    <input type="number" id="time-limit" name="time-limit" min="0">
  </div>
  <div class="setting">
    <label>Response Type:</label>
    <div class="radio-group">
      <input type="radio" id="multiple-choice" name="response-type" value="Multiple" checked>
      <label for="multiple-choice">Multiple Choice</label>
      <input type="radio" id="free-response" name="response-type" value="Free">
      <label for="free-response">Free Response</label>
    </div>
  </div>
  <div class="setting">
    <label for="genre">Genre (Use Ctrl or Shift Click):</label>
    <select id="genre" name="genre" multiple>
      <option value="rock">Rock</option>
      <option value="rhythmandblues">Rhythm and blues</option>
      <option value="pop">Pop music</option>
      <option value="country">Country music</option>
    </select>
  </div>
  <div class="setting">
    <label>Hints:</label>
    <div *ngIf="checkHints()">
      <div  class="radio-group">
        <input type="radio" id="hints-yes" name="hints" value=true checked>
        <label for="hints-yes">Yes</label>
        <input type="radio" id="hints-no" name="hints" value=false>
        <label for="hints-no">No</label>
      </div>
    </div>
    <div *ngIf="!checkHints()">
      <div  class="radio-group">
        <input type="radio" id="hints-yes" name="hints" value=true>
        <label for="hints-yes">Yes</label>
        <input type="radio" id="hints-no" name="hints" value=false checked>
        <label for="hints-no">No</label>
      </div>
    </div>

  </div>
  <div *ngIf="errorMsg">
    <p>{{ errorMsg }}</p>
  </div>
  <button id="save-settings-btn" (click)="saveSettings()">{{checkHints()}}Save Settings</button>
</div>
