@import url(https://unpkg.com/bootstrap@4.6.0/dist/css/bootstrap.min.css);


:root {
    --primary-color: #2C3E50;
    --primary-background: #eeeeee
}

.primary-background {
    background-color: var(--primary-color);
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.visualizer {
    border: 2px solid black;
    padding: 2px;
}